<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.anyfetch.companion">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MobileCompanionTheme"
        tools:ignore="UnusedAttribute">
        <service
            android:name=".commons.api.HttpSpiceService"
            android:exported="false"/>
        <service
            android:name=".commons.android.AndroidSpiceService"
            android:exported="false"/>

        <activity
            android:name=".OnboardingActivity"
            android:label="@string/title_activity_onboarding">

        </activity>

        <activity
            android:name=".AuthActivity"
            android:label="@string/title_activity_auth"
            android:configChanges="orientation|screenSize">
        </activity>

        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".UpcomingEventsActivity"
            android:label="@string/title_activity_upcoming_events">
        </activity>

        <activity
            android:name=".ContextActivity"
            android:label="@string/title_activity_context"
            android:parentActivityName=".UpcomingEventsActivity">
        </activity>

        <activity
            android:name=".SettingActivity"
            android:label="@string/title_activity_settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.NOTIFICATION_PREFERENCES"/>
            </intent-filter>
        </activity>

        <receiver
            android:name=".meetings.MeetingPreparationReceiver"
            android:process=":remote"/>

        <activity
            android:name=".FullActivity"
            android:label="@string/title_activity_full">

        </activity>

        <receiver android:name=".calls.TelephonyReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.mixpanel.android.mpmetrics.InstallReferrerReceiver"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
